.avatars {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.selectedPage {
    font-weight: bold;
}

.preloader {
    width: 300px;
    height: 300px;
}

.paginator {
    margin: 10px;
}

.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}