.navbar {
    background: darksalmon;
    grid-area: n;
    padding: 20px;
    color: antiquewhite;
    text-decoration: none;
}

.item a {
    color: antiquewhite;
    text-decoration: none;
}

.sidebar {
    margin-top: 40px;
    font-size: x-large;
}
