img {
    width: 100%;
}

.descriptionBlock {
    color: saddlebrown;
    padding: 10px;
}

.userPhoto {
    border-radius: 10px;
    max-width: 100px;
    max-height: 100px;
}

.contact {
    padding-left: 30px;
}